*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    /* Typography */
    --background: linear-gradient(135deg, #667eea 0%, #764ba2 100%);
    --font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", sans-serif;
    --color-text-primary: #333333;
    --color-bg: #f9f9f9;
    --color-primary: #667eea;
}

body { 
    display: grid;
    place-items: center;
    min-height: 100vh;
    font-family: var(--font-family);
    color: var(--color-text-primary);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background: var(--background);
}

header {
    margin-bottom: 40px;
}

h1 {
    margin-bottom: 20px;
    text-align: center;
    font-size: 1.8rem;
}

#choices {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin: 20px 0;
}

button.choice-button {
    border-radius: 50%;
    padding: 0.2rem;
    border: 3px solid var(--color-primary);
    height: 80px;
    aspect-ratio: 1 / 1;
    font-size: 2rem;;
    transition: all 0.3s ease;
    display: flex;
    align-items: center;
    justify-content: center;
}

button.choice-button:hover {
    background: var(--color-primary);
    color: white;
    cursor: pointer;
    transform: scale(1.1);
}

button.choice-button:active {
    transform: scale(0.9);
}

/* App Container */
#app-frame {
    background: var(--color-bg);
    padding: 50px;
    border-radius: 15px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    text-align: center;
}

/* Score Display */
#scoreboard {
    display: flex;
    justify-content: space-between;
    background-color: #ececec;
    padding: 0.8rem;
    border-radius: 0.8rem;
}

#computer-score, #player-score, #draw-score {
    width: 30%;
}

.score-label {
    color: #636363;
    font-size: 0.9em;
}

.score-value {
    color: var(--color-primary);
    font-weight: bold;
    font-size: 1.8em;
}

/* Result Display */

#result-message{
    font-size: 1.2em;
    margin-top: 20px;
    min-height: 40px;
}

#reset-button {
    background: var(--color-primary);
    color: white;
    border: none;
    padding: 12px 30px;
    border-radius: 25px;
    font-size: 1em;
    cursor: pointer;
    margin-top: 20px;
    transition: all 0.3s ease;
}

#reset-button:hover {
    background: #764ba2;
    transform: translateY(-2px);
}
